body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1d2634 25%, #263043 100%);
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
  height: 100%; /* Устанавливаем высоту на 100% */
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1;
  font-size: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  width: 100%; /* Устанавливаем ширину на 100% */
  min-height: 100vh; /* Устанавливаем минимальную высоту на 100vh */
}

/* ---------- HEADER ---------- */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #263043;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #f0f0f0;
}

.header .menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left span,
.header-right span {
  margin: 0 10px;
}

.header-right span {
  margin: 0 8px;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  width: 250px; /* Увеличиваем ширину сайдбара */
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #f0f0f0;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  font-size: 18px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  padding-left: 40px;
}

.sidebar-list-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9e9ea4;
  white-space: nowrap; /* Отключаем перенос текста */
  overflow: hidden;
  text-overflow: ellipsis; /* Добавляем многоточие для длинного текста */
}

.sidebar-list-item > a:hover {
  background-color: #f0f0f0;
}

.material-icons-outlined {
  margin-right: 10px;
}

/* ---------- MAIN ---------- */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: #f0f0f0;
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  border-radius: 8px;
  color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.card:nth-child(1) {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .material-icons-outlined {
  font-size: 45px;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 60px;
}

.charts-card {
  background-color: #263043;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.charts-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #f0f0f0;
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .header .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .header .menu-icon {
    display: none;
  }
}
